body{
    margin: 0px;
    
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #1F2937;
}

.header ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header ul a{
    text-decoration: none;
    color: white;
}